[Unit]
Description=Wav player
After=mnt-USB.mount

[Service]
Type=simple
ExecStart=/usr/local/share/player/start.sh

[Install]
WantedBy=multi-user.target 
